# Web & Server
Flask==3.0.3
flask-cors==4.0.1
Flask-SocketIO==5.3.6
gunicorn==22.0.0
eventlet==0.35.2
requests

# Machine Learning & Data (Stable Versions)
numpy<2.0.0
pandas<2.2.0
scikit-learn
scipy
joblib
lightgbm
huggingface_hub

# Network & Analysis
scapy==2.5.0
pyshark
psutil

# Utils & AI
groq
fpdf
matplotlib
seaborn
python-dateutil